* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "sans-serif" !important;
}

.header {
  font-size: 0.8rem !important;
  background-color: #292f36 !important;
  font-family: "Outfit", "sans-serif" !important;
}
.header #title-header {
  padding-left: 1rem;
  font-size: 2rem;
  color: #fff !important;
}
.header .btn-header {
  color: #fff;
}
.header .btn-header:hover {
  border-bottom: 1px solid #fff;
}

.container-01 .content-container-01 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-height: 20rem;
  gap: 2rem;
  background-image: url(../../images/bg-principal.jpg);
}
.container-01 .content-container-01 .area-avatar img {
  border-radius: 50%;
  height: 30rem;
  border: 4px solid #fff;
}
.container-01 .content-container-01 .content-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.container-01 .content-container-01 .icons-container-01 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.container-01 .content-container-01 .content-texts a {
  text-decoration: none;
  color: #fff;
}
.container-01 .content-container-01 .icon-social-midea {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 2rem;
}
.container-01 .content-container-01 .text-icons a:hover .icon-social-midea {
  color: white;
}
.container-01 .content-container-01 .text-icons a:visited .icon-social-midea {
  color: white;
}
.container-01 .content-container-01 .text-icons a:active .icon-social-midea {
  color: white;
}

.container-02 .main-content-container-02 {
  padding: 2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.container-02 .main-content-container-02 .about {
  background-color: #292f36;
  color: #fff;
  padding: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.container-02 .main-content-container-02 .area-animated-soft-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills {
  display: flex;
}
.container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills .area-soft-skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}
.container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills .area-soft-skills .slide-01,
.container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills .area-soft-skills .slide-03 {
  display: flex;
  gap: 2rem;
  animation: anima 10s linear infinite;
}
.container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills .area-soft-skills .slide-02 {
  display: flex;
  gap: 2rem;
  animation: anima-reverse 10s linear infinite;
}

.sub-container-02 {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
.sub-container-02 .cards-about {
  display: flex;
}
.sub-container-02 .cards-about .content-cards {
  display: flex;
  gap: 5rem;
}
.sub-container-02 .cards-about .content-cards .boxs-about {
  display: flex;
  margin-top: 1rem;
}
.sub-container-02 .cards-about .content-cards .card-left {
  border-left: 0.5rem solid #292f36;
  padding-left: 0.5rem;
  color: #292f36;
  padding: 1rem;
}
.sub-container-02 .cards-about .content-cards .card-right {
  text-align: end;
  border-right: 0.5rem solid #292f36;
  padding: 1rem;
  color: #292f36;
}
.sub-container-02 .cards-about .content-cards .title-card {
  font-size: 1.5rem;
  font-weight: bold;
}
.sub-container-02 .cards-about .content-cards .text-card {
  font-size: 0.8rem;
}
.sub-container-02 .cards-about .content-cards .btn {
  background-color: #292f36;
  color: #fff;
}
.sub-container-02 .cards-about .content-cards .btn:hover {
  transform: scale(1.1);
}

.container-03 {
  margin-top: 2rem;
}
.container-03 .area-icons-tecnologys {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-03 .icons-tecnologys {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}
.container-03 .slide-tecnologys-01 {
  display: inline-block;
  animation: anima 15s linear infinite;
}
@keyframes anima {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container-03 .slide-tecnologys-02 {
  display: inline-block;
  animation: anima-reverse 15s linear infinite;
}
@keyframes anima-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.container-03 .icon-tec {
  height: 7rem;
}
.container-03 .image-tecnologys {
  height: 25rem;
}

.container-04 {
  background-color: #292f36;
  padding: 3rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  margin-left: 2rem;
}
.container-04 .area-cards {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}
.container-04 .card {
  background-color: #292f36;
  color: #fff;
  border: none;
  width: 20rem;
}
.container-04 .card-link {
  text-decoration: none !important;
  color: #fff;
}
.container-04 .card-link a:hover .card-body {
  color: #fff !important;
}
.container-04 .card-link a:visited .card-body {
  color: #fff !important;
}
.container-04 .card-link a:active .card-body {
  color: #fff !important;
}
.container-04 .subtext-container-04 .text-projects a {
  text-decoration: none;
  color: #fff;
}
.container-04 .subtext-container-04 .text-projects a:hover {
  border-bottom: 2px solid #fff;
}
.container-04 .subtext-container-04 .text-projects a:hover .subtext-container-04 {
  color: #fff;
}
.container-04 .subtext-container-04 .text-projects a:visited .subtext-container-04 {
  color: #fff;
}
.container-04 .subtext-container-04 .text-projects a:active .subtext-container-04 {
  color: #fff;
}

.area-contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: #292f36;
}
.area-contact-me .img-contact-me {
  height: 25rem;
}
.area-contact-me .contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.area-contact-me .contact-me .icons-container-01 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.area-contact-me .contact-me .content-texts a {
  text-decoration: none;
  color: #292f36;
}
.area-contact-me .contact-me .icon-social-midea {
  color: #292f36;
  transition: color 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
  font-size: 2rem;
}
.area-contact-me .contact-me .text-icons a:hover .icon-social-midea {
  color: #292f36;
}
.area-contact-me .contact-me .text-icons a:visited .icon-social-midea {
  color: #292f36;
}
.area-contact-me .contact-me .text-icons a:active .icon-social-midea {
  color: #292f36;
}

.footer {
  background-color: #292f36;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .content-footer-lists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footer .content-footer-lists .area-contact-card {
  display: flex;
  justify-content: center;
}
.footer .content-footer-lists .list {
  list-style: none;
  margin-left: -2rem;
}
.footer .content-footer-lists .footer-lists {
  margin-left: 0.3rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.footer .content-footer-lists .footer-lists .list a {
  text-decoration: none;
  color: inherit;
}
.footer .content-footer-lists .footer-lists .list a:hover .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .footer-lists .list a:visited .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .footer-lists .list a:active .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .title-list-footer {
  font-weight: bold;
}
.footer .copywritter {
  display: flex;
  justify-content: center;
}
.footer .icon-back-to-top {
  display: flex;
  justify-content: center;
  animation: UpAndDown 2s infinite ease-in-out;
}
.footer .icon-back-to-top img {
  background-color: #fff;
  border-radius: 50%;
}
@keyframes UpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 891px) {
  .header #title-header {
    font-size: 1.7rem !important;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .container-01 .content-container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-01 .content-container-01 .area-avatar img {
    height: 20rem;
  }
  .container-01 .content-container-01 #title-container-01 {
    font-size: 1.2rem;
  }
  .container-01 .content-container-01 .subtitle-container-01 {
    font-size: 0.8rem;
  }
  .container-01 .content-container-01 .icons-container-01 {
    gap: 0.1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
  .container-02 .main-content-container-02 {
    display: flex;
    flex-direction: column;
  }
  .container-02 .main-content-container-02 .area-animated-soft-skills {
    display: flex;
    justify-content: center;
  }
  .sub-container-02 {
    display: flex;
  }
  .sub-container-02 .cards-about .content-cards {
    display: flex;
    flex-direction: column;
  }
  .container-03 .area-icons-tecnologys {
    display: flex;
    flex-direction: column;
  }
  .container-03 .icons-tecnologys {
    width: 80%;
  }
  .container-03 .image-tecnologys {
    height: 15rem;
  }
  .area-contact-me .img-contact-me {
    height: 15rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}
@media (max-width: 436px) {
  .header #title-header {
    font-size: 1rem !important;
  }
  .container-01 .content-container-01 .area-avatar img {
    height: 15rem;
  }
  .container-02 .main-content-container-02 .area-animated-soft-skills {
    display: flex;
    justify-content: center;
  }
  .container-02 .main-content-container-02 .area-animated-soft-skills .main-area-soft-skills .area-soft-skills {
    max-width: 16rem;
  }
  .container-03 .subtitle-container-03 {
    font-size: 1rem;
  }
  .container-04 .area-cards .card {
    width: 14rem;
  }
  .area-contact-me {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .area-contact-me .contact-me .text-contact-me {
    font-size: 5rem;
  }
}
@media (max-width: 320px) {
  .container-04 {
    margin-left: 0.5rem;
  }
}

/*# sourceMappingURL=home.css.map */
