* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", "sans-serif" !important;
}

.header {
  font-size: 14px !important;
  font-weight: bold !important;
  background-color: #292f36 !important;
  width: 100%;
  font-family: "Outfit", "sans-serif" !important;
}
.header #title-header {
  margin-left: 2rem;
  font-size: 2rem;
  color: white !important;
}
.header .btn-header {
  color: white;
}

.container01 {
  padding-top: 3rem;
  min-height: 20rem;
  background-image: url(../../images/bg-principal.jpg);
}
.container01 .itens-fixed {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: white;
  padding-top: 6rem;
}
.container01 #photo-profile {
  margin-top: -3rem;
  border-radius: 50%;
  height: 29rem;
  border: 4px solid white;
}
.container01 #main-function {
  font-size: 3rem;
}
.container01 .text-icons {
  padding: 9rem 0 0 2rem;
}
.container01 .text-icons a {
  text-decoration: none;
  color: inherit;
}
.container01 .icon-social-midea {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 2rem;
}
.container01 .text-icons a:hover .icon-social-midea {
  color: white;
}
.container01 .text-icons a:visited .icon-social-midea {
  color: white;
}
.container01 .text-icons a:active .icon-social-midea {
  color: white;
}

.container02 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: auto;
  max-width: 94%;
}
.container02 .about {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #292f36;
  color: white;
}
.container02 .about .about-title {
  font-size: 2rem;
}
.container02 .about .about-text {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: justify;
}
.container02 .history {
  background-color: white;
  padding: 20px;
}
.container02 .history .timeline-card {
  border-left: 1rem solid #292f36;
  padding-left: 1rem;
}
.container02 .history .timeline-card-right {
  margin-top: 2rem;
  border-right: 1rem solid #292f36;
  padding-right: 1rem;
  text-align: right;
}
.container02 .history .text-time {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.container02 .history .text-history {
  font-size: 0.8rem;
}
.container02 .history .btn-timeline {
  background-color: #292f36;
  color: white;
}

.container03 {
  margin-bottom: 3rem;
}
.container03 .area-texts-tecnologys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
}
.container03 .main-area-icons-tecnologys {
  display: flex;
  justify-content: center;
  width: 80%;
  white-space: nowrap;
  margin-left: 9rem;
}
.container03 .image-tecnologys {
  max-height: 5rem;
}
.container03 .col {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
}
.container03 .name-tecnology {
  display: none;
}

.container04 {
  background-color: #292f36;
  padding: 3rem 0 2rem 0;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container04 .title-projects {
  padding: 0 0 2rem 2rem;
}
.container04 .area-cards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.container04 .card-body {
  transition: color 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
}
.container04 .card-link {
  text-decoration: none !important;
  color: #292f36;
}
.container04 .card-link a:hover .card-body {
  color: #292f36 !important;
}
.container04 .card-link a:visited .card-body {
  color: #292f36 !important;
}
.container04 .card-link a:active .card-body {
  color: #292f36 !important;
}
.container04 .btn-card {
  margin-top: 1rem !important;
}
.container04 .text-projects {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
}

.footer {
  background-color: white;
  color: #292f36;
  margin: 1rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .content-footer-lists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footer .content-footer-lists .area-contact-card {
  display: flex;
  justify-content: center;
}
.footer .content-footer-lists .list {
  list-style: none;
  margin-left: -2rem;
}
.footer .content-footer-lists .footer-lists {
  margin-left: 0.3rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.footer .content-footer-lists .footer-lists .list a {
  text-decoration: none;
  color: inherit;
}
.footer .content-footer-lists .footer-lists .list a:hover .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .footer-lists .list a:visited .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .footer-lists .list a:active .link-footer {
  color: #292f36;
}
.footer .content-footer-lists .title-list-footer {
  font-weight: bold;
}
.footer .copywritter {
  display: flex;
  justify-content: center;
}
.footer .icon-back-to-top {
  display: flex;
  justify-content: center;
  animation: UpAndDown 2s infinite ease-in-out;
}
@keyframes UpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1025px) {
  .header {
    font-size: 12px !important;
  }
  .header #title-header {
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .container01 {
    height: 35rem;
    width: auto;
  }
  .container01 .itens-fixed {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container01 .itens-fixed #photo-profile {
    width: 15rem;
    height: 15rem;
  }
  .container01 .itens-fixed .text-icons {
    margin: -8rem 0 0 0;
  }
  .container01 .itens-fixed .text-icons #main-function {
    text-align: center;
    font-size: 1.8rem;
    margin-left: -2rem;
  }
  .container01 .itens-fixed .text-icons .area-icons-social-midea {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }
  .container01 .itens-animed {
    display: none;
  }
  .container02 {
    grid-template-columns: 2fr 1fr;
  }
  .container02 .about .about-title {
    font-size: 1.5rem;
  }
  .container02 .about .about-text {
    font-size: 0.9rem;
  }
  .container02 .history .text-time {
    font-size: 1.2rem;
  }
  .container02 .history .text-history {
    font-size: 0.7rem;
  }
  .container03 .text-tecnologys {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
  }
  .container03 .main-area-icons-tecnologys {
    width: 100%;
    margin-left: 0;
  }
  .container04 {
    text-align: center;
    padding: 3rem 0;
  }
  .container04 .area-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    font-size: 14px;
  }
  .footer .content-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -2rem;
  }
}
@media (max-width: 769px) {
  .header {
    font-size: 12px !important;
  }
  .header #title-header {
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .header #btn-area-header {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container01 {
    width: auto;
    height: auto;
  }
  .container01 .itens-fixed {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container01 .itens-fixed #photo-profile {
    width: 15rem;
    height: 15rem;
  }
  .container01 .itens-fixed .text-icons {
    margin: -8rem 0 0 0;
  }
  .container01 .itens-fixed .text-icons #main-function {
    text-align: center;
    font-size: 1.8rem;
    margin-left: -2rem;
  }
  .container01 .itens-fixed .text-icons .area-icons-social-midea {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }
  .container01 .itens-animed {
    display: none;
  }
  .container02 {
    grid-template-columns: 2fr 1fr;
  }
  .container02 .about .about-title {
    font-size: 1.5rem;
  }
  .container02 .about .about-text {
    font-size: 0.9rem;
  }
  .container02 .history .text-time {
    font-size: 1.2rem;
  }
  .container02 .history .text-history {
    font-size: 0.7rem;
  }
  .container03 .text-tecnologys {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
  }
  .container03 .main-area-icons-tecnologys {
    width: 100%;
    margin-left: 0;
  }
  .container04 {
    text-align: center;
    padding: 3rem 0;
  }
  .container04 .area-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    text-align: start;
  }
}
@media (max-width: 686px) {
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}
@media (max-width: 426px) {
  .header {
    font-size: 12px !important;
  }
  .header #title-header {
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .header #btn-area-header {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container01 {
    width: auto;
    height: auto;
  }
  .container01 .itens-fixed {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container01 .itens-fixed #photo-profile {
    width: 15rem;
    height: 15rem;
  }
  .container01 .itens-fixed .text-icons {
    margin: -8rem 0 0 0;
  }
  .container01 .itens-fixed .text-icons #main-function {
    text-align: center;
    font-size: 1.5rem;
    margin-left: -2rem;
  }
  .container01 .itens-fixed .text-icons .area-icons-social-midea {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }
  .container01 .itens-animed {
    display: none;
  }
  .container02 {
    display: flex;
    flex-direction: column;
  }
  .container02 .about .about-title {
    font-size: 1.5rem;
  }
  .container02 .about .about-text {
    font-size: 0.9rem;
  }
  .container02 .history .text-time {
    font-size: 1.2rem;
  }
  .container02 .history .text-history {
    font-size: 0.7rem;
  }
  .container03 .text-tecnologys {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
  }
  .container03 .main-area-icons-tecnologys {
    width: 100%;
    margin-left: 0;
  }
  .container04 {
    padding: 3rem 0;
  }
  .container04 .area-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}
@media (max-width: 376px) {
  .header {
    font-size: 12px !important;
  }
  .header #title-header {
    margin-left: 0.5rem;
    font-size: 1.3rem;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .header #btn-area-header {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container01 {
    height: 32rem;
    width: auto;
  }
  .container01 .itens-fixed {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container01 .itens-fixed #photo-profile {
    width: 15rem;
    height: 15rem;
  }
  .container01 .itens-fixed .text-icons {
    margin: -8rem 0 0 0;
  }
  .container01 .itens-fixed .text-icons #main-function {
    text-align: center;
    font-size: 1.8rem;
    margin-left: -2rem;
  }
  .container01 .itens-fixed .text-icons .area-icons-social-midea {
    display: flex;
    justify-content: center;
    margin-left: -3rem;
  }
  .container01 .itens-animed {
    display: none;
  }
  .container02 {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .container02 .about .about-title {
    font-size: 1.5rem;
  }
  .container02 .about .about-text {
    font-size: 0.9rem;
  }
  .container02 .history .text-time {
    font-size: 1.2rem;
  }
  .container02 .history .text-history {
    font-size: 0.7rem;
  }
  .container03 .text-tecnologys {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
  }
  .container03 .main-area-icons-tecnologys {
    width: 100%;
    margin-left: 0;
  }
  .container04 {
    padding: 3rem 0;
  }
  .container04 .area-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}
@media (max-width: 321px) {
  .header {
    font-size: 12px !important;
  }
  .header #title-header {
    font-size: 1rem;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .container01 {
    height: 30rem;
    width: auto;
  }
  .container01 .itens-fixed {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container01 .itens-fixed #photo-profile {
    width: 15rem;
    height: 15rem;
  }
  .container01 .itens-fixed .text-icons {
    margin: -8rem 0 0 0;
  }
  .container01 .itens-fixed .text-icons #main-function {
    text-align: center;
    font-size: 1.5rem;
  }
  .container01 .itens-fixed .text-icons .area-icons-social-midea {
    display: flex;
    justify-content: center;
  }
  .container02 {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .container02 .about .about-title {
    font-size: 1.5rem;
  }
  .container02 .about .about-text {
    font-size: 0.9rem;
  }
  .container02 .history .text-time {
    font-size: 1.2rem;
  }
  .container02 .history .text-history {
    font-size: 0.7rem;
  }
  .container03 .text-tecnologys {
    text-align: center;
    margin: 1rem 2rem 0 2rem;
  }
  .container03 .main-area-icons-tecnologys {
    width: 100%;
    margin-left: 0;
  }
  .container04 {
    padding: 3rem 0;
  }
  .container04 .area-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}

/*# sourceMappingURL=home.css.map */
