* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "sans-serif" !important;
}

.header {
  font-size: 0.8rem !important;
  background-color: #292f36 !important;
  font-family: "Outfit", "sans-serif" !important;
}
.header #title-header {
  padding-left: 1rem;
  font-size: 2rem;
  color: #fff !important;
}
.header .btn-header {
  color: #fff;
}
.header .btn-header:hover {
  border-bottom: 1px solid #fff;
}

.container-01 .content-container-01 {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-height: 20rem;
  gap: 2rem;
  background-image: url(../../images/bg-principal.jpg);
}
.container-01 .content-container-01 .area-avatar img {
  border-radius: 50%;
  height: 30rem;
  border: 4px solid #fff;
}
.container-01 .content-container-01 .content-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.container-01 .content-container-01 .icons-container-01 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.container-01 .content-container-01 .content-texts a {
  text-decoration: none;
  color: #fff;
}
.container-01 .content-container-01 .icon-social-midea {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 2rem;
}
.container-01 .content-container-01 .text-icons a:hover .icon-social-midea {
  color: white;
}
.container-01 .content-container-01 .text-icons a:visited .icon-social-midea {
  color: white;
}
.container-01 .content-container-01 .text-icons a:active .icon-social-midea {
  color: white;
}

.container-02 {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin-top: 4rem;
}
.container-02 .content-container-02 {
  background-color: #292f36;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  max-width: 80vw;
}
.container-02 .content-container-02 .card-project-02,
.container-02 .content-container-02 .card-project {
  display: flex;
  padding: 1rem;
  max-width: 60rem;
  margin-top: 2.5rem;
}
.container-02 .content-container-02 .card-project-02 .area-img-project,
.container-02 .content-container-02 .card-project .area-img-project {
  display: flex;
  justify-content: center;
}
.container-02 .content-container-02 .card-project-02 .content-card,
.container-02 .content-container-02 .card-project .content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-tecs-image,
.container-02 .content-container-02 .card-project .content-card .area-tecs-image {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-tecs-image .tec-img,
.container-02 .content-container-02 .card-project .content-card .area-tecs-image .tec-img {
  height: 2rem;
  width: 2rem;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links,
.container-02 .content-container-02 .card-project .content-card .area-links {
  display: flex;
  gap: 2rem;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links a,
.container-02 .content-container-02 .card-project .content-card .area-links a {
  text-decoration: none;
  color: #fff;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links a:hover,
.container-02 .content-container-02 .card-project .content-card .area-links a:hover {
  scale: 1.1;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links a:hover .content-card,
.container-02 .content-container-02 .card-project .content-card .area-links a:hover .content-card {
  color: #fff;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links a:visited .content-card,
.container-02 .content-container-02 .card-project .content-card .area-links a:visited .content-card {
  color: #fff;
}
.container-02 .content-container-02 .card-project-02 .content-card .area-links a:active .content-card,
.container-02 .content-container-02 .card-project .content-card .area-links a:active .content-card {
  color: #fff;
}
.container-02 .content-container-02 .card-project-02 {
  margin-left: 30%;
}

.footer {
  margin-top: 3rem;
  background-color: #292f36;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .content-footer-lists {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.footer .content-footer-lists .area-contact-card {
  display: flex;
  justify-content: center;
}
.footer .content-footer-lists .list {
  list-style: none;
  margin-left: -2rem;
}
.footer .content-footer-lists .footer-lists {
  margin-left: 0.3rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.footer .content-footer-lists .footer-lists .list a {
  text-decoration: none;
  color: inherit;
}
.footer .content-footer-lists .footer-lists .list a:hover .link-footer {
  color: #ffffff;
}
.footer .content-footer-lists .footer-lists .list a:visited .link-footer {
  color: #ffffff;
}
.footer .content-footer-lists .footer-lists .list a:active .link-footer {
  color: #ffffff;
}
.footer .content-footer-lists .title-list-footer {
  font-weight: bold;
}
.footer .copywritter {
  display: flex;
  justify-content: center;
}
.footer .icon-back-to-top {
  display: flex;
  justify-content: center;
  animation: UpAndDown 2s infinite ease-in-out;
}
.footer .icon-back-to-top img {
  background-color: #ffffff;
  border-radius: 50%;
}
@keyframes UpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1249px) {
  .container-02 {
    display: flex;
  }
  .container-02 .content-container-02 {
    display: flex;
    flex-direction: column;
  }
  .container-02 .content-container-02 .card-project {
    display: flex;
    flex-direction: column;
  }
  .container-02 .content-container-02 .card-project .tec-img {
    height: 0.5rem;
  }
  .container-02 .content-container-02 .card-project-02 {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
  }
  .container-02 .content-container-02 .img-project {
    width: 22rem;
  }
  .container-02 .content-container-02 .area-tecs-image {
    flex-direction: column;
  }
  .container-02 .content-container-02 .area-tecs-image .tecs {
    display: flex;
    justify-content: space-around;
  }
  .container-02 .content-container-02 .area-links {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .header #title-header {
    font-size: 1.7rem !important;
  }
  .header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .header .nav-link {
    text-align: center !important;
  }
  .container-01 .content-container-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-01 .content-container-01 .area-avatar img {
    height: 20rem;
  }
  .container-01 .content-container-01 #title-container-01 {
    font-size: 1.2rem;
  }
  .container-01 .content-container-01 .subtitle-container-01 {
    font-size: 0.8rem;
  }
  .container-01 .content-container-01 .icons-container-01 {
    gap: 0.1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
  .container-02 .content-container-02 .img-project {
    width: 22rem;
  }
  .footer {
    text-align: center;
    font-size: 14px;
  }
  .footer .content-footer-lists {
    display: flex;
  }
  .footer .content-footer-lists .footer-lists {
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
  }
}
@media (max-width: 426px) {
  .header #title-header {
    font-size: 1rem !important;
  }
  .container-01 .content-container-01 .area-avatar img {
    height: 15rem;
  }
  .container-02 .content-container-02 .img-project {
    width: 16rem;
  }
}
@media (max-width: 375px) {
  .container-02 .content-container-02 .img-project {
    width: 13rem;
  }
}
@media (max-width: 375px) {
  .container-02 .content-container-02 .img-project {
    width: 10rem;
  }
}

/*# sourceMappingURL=projects.css.map */
