@import "../communElements/communElements.scss";
@import "../communElements/variabels.scss";

.header {
  font-size: 14px !important;
  font-weight: bold !important;
  background-color: $main-color !important;
  width: 100%;

  #title-header {
    margin-left: 2rem;
    font-size: 2rem;
    color: white !important;
  }

  .btn-header {
    color: white;
  }
}

.container01 {
  padding-top: 3rem;
  min-height: 100vh;
  background-image: url(../../images/bg-principal.jpg);

  .itens-fixed {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: white;
    padding-top: 6rem;
  }

  #photo-profile {
    margin-top: -3rem;
    border-radius: 50%;
    height: 29rem;
    border: 4px solid white;
  }

  #main-function {
    font-size: 3rem;
  }

  .text-icons {
    padding: 9rem 0 0 2rem;
  }

  .itens-animed {
    display: flex;
    justify-content: center;
    margin-left: 32rem;
    margin-top: -4rem;
  }

  .text-icons a {
    text-decoration: none;
    color: inherit;
  }

  .icon-social-midea {
    color: white;
    transition: color 0.3s ease;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 2rem;
  }

  .text-icons a:hover .icon-social-midea {
    color: white;
  }

  .text-icons a:visited .icon-social-midea {
    color: white;
  }

  .text-icons a:active .icon-social-midea {
    color: white;
  }

  .text-animed {
    margin-top: 1rem;
    border-right: 4px solid;
    white-space: nowrap;
    width: 49ch;
    overflow: hidden;
    animation: animedMark 0.5s linear infinite, animedText steps(35) 2s;
  }

  @keyframes animedMark {
    50% {
      border-right: transparent;
    }
  }

  @keyframes animedText {
    0% {
      width: 0;
    }
  }
}

.container02 {
  background-color: $main-color;
  min-height: 100vh;
  color: white;
  width: 100%;
  margin-top: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .text-about {
    margin-bottom: 3rem;
  }
}

.container03 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;

  .experience-title {
    display: flex;
    justify-content: center;
    margin: 2rem 0 2rem 0;
  }

  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-type-a {
    box-sizing: border-box;
    border-left: 2rem solid $main-color;
    width: 40rem;
    margin-left: 39%;
    padding-left: 1rem;
  }

  .card-type-b {
    box-sizing: border-box;
    border-right: 2rem solid $main-color;
    width: 40rem;
    margin-right: 39rem;
    text-align: right;
    padding-right: 1rem;
  }
}

.footer {
  background-color: $main-color;
  color: white;
  padding-bottom: 0.3rem;

  .content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    .div-curriculo {
      display: flex;
    }

    #curriculo {
      margin-left: 0.3rem;
    }

    .div-curriculo a {
      text-decoration: none;
      color: inherit;
    }

    .icon-social-midea {
      color: white;
      transition: color 0.3s ease;
      cursor: pointer;
      vertical-align: middle;
      margin-right: 2rem;
    }

    .div-curriculo a:hover .icon-social-midea {
      color: white;
    }

    .div-curriculo a:visited .icon-social-midea {
      color: white;
    }

    .div-curriculo a:active .icon-social-midea {
      color: white;
    }
  }
}

@media (max-width: 1025px) {
  .header {
    font-size: 12px !important;

    #title-header {
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }

  .container01 {
    width: auto;
    height: auto;

    .itens-fixed {
      display: flex;
      align-items: center;
      flex-direction: column;

      #photo-profile {
        width: 15rem;
        height: 15rem;
      }

      .text-icons {
        margin: -8rem 0 0 0;

        #main-function {
          text-align: center;
          font-size: 1.8rem;
          margin-left: -2rem;
        }

        .area-icons-social-midea {
          display: flex;
          justify-content: center;
          margin-left: -3rem;
        }
      }
    }

    .itens-animed {
      display: none;
    }
  }

  .container02 {
    text-align: center;
    font-size: 15px;
  }

  .container03 {
    .experience-title {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;
      text-align: center;
    }

    .card-type-a {
      box-sizing: border-box;
      width: 19rem;
      padding-right: 1rem;
      margin-left: 16rem;
    }

    .card-type-b {
      box-sizing: border-box;
      width: 19rem;
      text-align: right;
      padding-right: 1rem;
      margin-left: 21rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 769px) {
  .header {
    font-size: 12px !important;

    #title-header {
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .nav-link {
      text-align: center !important;
    }

    #btn-area-header {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .container01 {
    width: auto;
    height: auto;

    .itens-fixed {
      display: flex;
      align-items: center;
      flex-direction: column;

      #photo-profile {
        width: 15rem;
        height: 15rem;
      }

      .text-icons {
        margin: -8rem 0 0 0;

        #main-function {
          text-align: center;
          font-size: 1.8rem;
          margin-left: -2rem;
        }

        .area-icons-social-midea {
          display: flex;
          justify-content: center;
          margin-left: -3rem;
        }
      }
    }

    .itens-animed {
      display: none;
    }
  }

  .container02 {
    text-align: center;
    font-size: 15px;
  }

  .container03 {
    .experience-title {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;
      text-align: center;
    }

    .card-type-a {
      box-sizing: border-box;
      width: 19rem;
      padding-right: 1rem;
      margin-left: 16rem;
    }

    .card-type-b {
      box-sizing: border-box;
      width: 19rem;
      text-align: right;
      padding-right: 1rem;
      margin-left: 21rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .header {
    font-size: 12px !important;

    #title-header {
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .nav-link {
      text-align: center !important;
    }

    #btn-area-header {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .container01 {
    width: auto;
    height: auto;

    .itens-fixed {
      display: flex;
      align-items: center;
      flex-direction: column;

      #photo-profile {
        width: 15rem;
        height: 15rem;
      }

      .text-icons {
        margin: -8rem 0 0 0;

        #main-function {
          text-align: center;
          font-size: 1.8rem;
          margin-left: -2rem;
        }

        .area-icons-social-midea {
          display: flex;
          justify-content: center;
          margin-left: -3rem;
        }
      }
    }

    .itens-animed {
      display: none;
    }
  }

  .container02 {
    text-align: center;
    font-size: 15px;
  }

  .container03 {
    .experience-title {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;

      text-align: center;
    }

    .card-type-a {
      box-sizing: border-box;
      width: 19rem;
      padding-right: 1rem;
      margin-left: 2rem;
    }

    .card-type-b {
      box-sizing: border-box;
      width: 19rem;
      text-align: right;
      padding-right: 1rem;
      margin-left: 40rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 376px) {
  .header {
    font-size: 12px !important;

    #title-header {
      margin-left: 0.5rem;
      font-size: 1.3rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .nav-link {
      text-align: center !important;
    }

    #btn-area-header {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .container01 {
    width: auto;
    height: auto;

    .itens-fixed {
      display: flex;
      align-items: center;
      flex-direction: column;

      #photo-profile {
        width: 15rem;
        height: 15rem;
      }

      .text-icons {
        margin: -8rem 0 0 0;

        #main-function {
          text-align: center;
          font-size: 1.8rem;
          margin-left: -2rem;
        }

        .area-icons-social-midea {
          display: flex;
          justify-content: center;
          margin-left: -3rem;
        }
      }
    }

    .itens-animed {
      display: none;
    }
  }

  .container02 {
    text-align: center;
    font-size: 15px;
  }

  .container03 {
    .experience-title {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;

      text-align: center;
    }

    .card-type-a {
      box-sizing: border-box;
      width: 19rem;
      padding-right: 1rem;
      margin-left: -1rem;
    }

    .card-type-b {
      box-sizing: border-box;
      width: 19rem;
      text-align: right;
      padding-right: 1rem;
      margin-left: 40rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 10px;
  }
}

@media (max-width: 321px) {
  .header {
    font-size: 12px !important;

    #title-header {
      margin-left: 0.5rem;
      font-size: 1rem;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .nav-link {
      text-align: center !important;
    }

    #btn-area-header {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  .container01 {
    width: auto;
    height: auto;

    .itens-fixed {
      display: flex;
      align-items: center;
      flex-direction: column;

      #photo-profile {
        width: 15rem;
        height: 15rem;
      }

      .text-icons {
        margin: -8rem 0 0 0;

        #main-function {
          text-align: center;
          font-size: 1.5rem;
          margin-left: -2rem;
        }

        .area-icons-social-midea {
          display: flex;
          justify-content: center;
          margin-left: -3rem;
        }
      }
    }

    .itens-animed {
      display: none;
    }
  }

  .container02 {
    text-align: center;
    font-size: 15px;
  }

  .container03 {
    .experience-title {
      display: flex;
      justify-content: center;
      margin: 2rem 0 2rem 0;

      text-align: center;
    }

    .card-type-a {
      box-sizing: border-box;
      width: 19rem;
      padding-right: 1rem;
      margin-left: -1rem;
    }

    .card-type-b {
      box-sizing: border-box;
      width: 19rem;
      text-align: right;
      padding-right: 1rem;
      margin-left: 40rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 10px;
  }
}
